.mega-title {
  margin-bottom: 0 !important;
  color: #151515 !important;
}

.dropdown-item {
  padding: 5px 10px 15px 25px !important;
}

.pt-0, .py-0 {
  padding-top: 6.25rem !important;
}

.owl-carousel .owl-stage-outer .owl-stage .owl-item img {
  width: 100% !important;
  height: 70%;
}

header {
  border: none;
  background-color: #fff !important;
  opacity: 0.9;
}

.presentation img {
  max-width: 75% !important;
}

section#default {
  padding-top: 78px !important;
  padding-bottom: 0px !important;
}

.section-lg {
  padding-top: 0px !important;
}

.body-bullets {
  color: #999 !important;
}

.flaticon:before  {
  font-size: 50px !important;
}

.mission {
  padding-bottom: 0px;
}

.crt-feed.crt-feed-branded {
  padding-bottom: 0px !important;
}

.facebook-feed {
  padding: 80px 100px 120px 100px;
}

.crt-grid-post {
  padding-right: 20px;
}

.facebook-header {
  padding-bottom: 40px;
}
