<!-- footer -->
  <div class="container py-5">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-5 text-center text-md-left">
        <!-- <h4>St. Pete Fire Rescue</h4> -->
        <p>727-893-7694<br>
          400 Dr. Martin Luther King, Jr. Street South<br>St. Petersburg, FL 33701</p>
        </div>
        <div class="col-md-2 text-center">

        </div>
        <div class="col-md-5 text-center text-md-right">
          <ul class="socials">
            <li><a href="https://www.facebook.com/St-Petersburg-Fire-Rescue-828716193866429/" class="icon-facebook fs-20"></a></li>
            <li><a href="https://www.instagram.com/stpetefr/" class="icon-instagram fs-20"></a></li>
            <li><a href="https://twitter.com/StPeteFR" class="icon-twitter fs-20"></a></li>
            <!-- <li><a href="" class="icon-linkedin fs-20"></a></li> -->
          </ul>
        </div>
      </div>
    </div>
  <!-- / footer -->
