<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="../../index.html">
      <h4>St. Pete Fire Rescue</h4>
      <!-- <img class="navbar-logo navbar-logo-light" src="../../assets/images/demo/logo/logo-light.svg" alt="Logo">
      <img class="navbar-logo navbar-logo-dark" src="../../assets/images/demo/logo/logo-dark.svg" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav align-items-center mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About Us
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
            <ul class="mega-list">
              <li><a class="mega-title" href="../../html/staff.html">Staff</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="mega-title" href="../../html/operations.html">Operations</a>
                <li><a class="dropdown-item" href="../../html/apparatus.html">Apparatus</a></li>
                <li><a class="dropdown-item" href="../../html/deployment.html">Deployment</a></li>
              </li>
              <div class="dropdown-divider"></div>
              <li><a class="mega-title" href="../../html/faqs.html">FAQs</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="mega-title" class="mega-title" href="../../html/administration.html">Administration</a>
                <li><a class="dropdown-item" href="../../html/iso_accr_stratplan.html">ISO, Accredidation, Strategic Plan</a></li>
                <li><a class="dropdown-item" href="../../html/dept_stats.html">Department Stats</a></li>
                <li><a class="dropdown-item" href="../../html/financial_services.html">Financial Services</a></li>
              </li>
              <div class="dropdown-divider"></div>
              <li><a class="mega-title" href="../../html/feedback.html">Feedback</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="mega-title" href="../../html/history.html">History</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="mega-title" href="../../html/news.html">News</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="mega-title" href="../../html/contact.html">Contact Us</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Programs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown-2">
            <ul class="mega-list">
              <li><a class="mega-title" href="../../html/prevention.html">Prevention</a>
                <li><a class="dropdown-item" href="../../html/community_outreach.html">Community Outreach</a></li>
                <li><a class="dropdown-item" href="../../html/services.html">Services</a></li>
              </li>
              <div class="dropdown-divider"></div>
              <li><a class="mega-title" class="mega-title" href="../../html/ems.html">EMS</a>
                <li><a class="dropdown-item" href="../../html/telemedic.html">Telemedic Training</a></li>
                <li><a class="dropdown-item" href="../../html/cpr_firstaid.html">CPR/First Aid Training</a></li>
              </li>
              <div class="dropdown-divider"></div>
              <li><a class="mega-title" href="../../html/safety_training.html">Safety and Training</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="mega-title" href="../../html/fire_suppression.html">Fire Suppression</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="mega-title" href="../../html/emergency_management.html">Emergency Management</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="mega-title" href="../../html/specialty_teams.html">Specialty Teams</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../../html/stations.html" role="button" aria-haspopup="true" aria-expanded="false">
            Stations
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="../../html/public.html" role="button" aria-haspopup="true" aria-expanded="false">
            Public
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../../html/careers.html" role="button" aria-haspopup="true" aria-expanded="false">
            Careers
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center mr-0">
        <li class="nav-item">
          <a class="nav-link" href="../../app-pages.html" role="button">
            Members Only (template cheat link)
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
